---
- name: debian | Apt-key add
  ansible.builtin.apt_key:
    id: "{{ item.id }}"
    keyring: "{{ item.keyring }}"
    state: "{{ item.state }}"
    url: "{{ item.url }}"
  loop: "{{ _apt_key }}"
  register: result
  until: result is succeeded
- name: debian | Apt-add-repository
  ansible.builtin.apt_repository:
    filename: "{{ item.filename }}"
    mode: "{{ item.mode | default('0644') }}"
    repo: "{{ item.repo }}"
    state: "{{ item.state }}"
  loop: "{{ _apt_repository }}"
  register: result
  until: result is succeeded
- name: debian | Apt-mark unhold
  ansible.builtin.dpkg_selections:
    name: "{{ item.name | regex_replace('^(.*)=[0-9]*:*[0-9]+\\..*$', '\\1') }}"
    selection: install
  changed_when: false
  failed_when: false
  loop: "{{ _apt }}"
  when: item.state == "present"
- name: debian | Apt-get install
  ansible.builtin.apt:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  loop: "{{ _apt }}"
  notify:
    - Systemctl restart bitbucket.service
  register: result
  until: result is succeeded
- name: debian | Apt-mark hold
  ansible.builtin.dpkg_selections:
    name: "{{ item.name | regex_replace('^(.*)=[0-9]*:*[0-9]+\\..*$', '\\1') }}"
    selection: hold
  changed_when: false
  failed_when: false
  loop: "{{ _apt }}"
  when: item.state == "present"
