---
- name: suse | Rpm --import
  ansible.builtin.rpm_key:
    fingerprint: "{{ item.fingerprint }}"
    key: "{{ item.key }}"
    state: "{{ item.state }}"
  loop: "{{ _rpm_key }}"
  register: result
  until: result is succeeded
  vars:
    ansible_python_interpreter: python3
- name: suse | Yum-config-manager --add-repo
  ansible.builtin.yum_repository:
    baseurl: "{{ item.baseurl }}"
    description: "{{ item.description }}"
    enabled: "{{ item.enabled }}"
    file: "{{ item.file }}"
    gpgcheck: "{{ item.gpgcheck }}"
    gpgkey: "{{ item.gpgkey }}"
    module_hotfixes: "{{ item.module_hotfixes }}"
    name: "{{ item.name }}"
    priority: "{{ item.priority }}"
    reposdir: "{{ item.reposdir | default('/etc/zypp/repos.d') }}"
    state: "{{ item.state }}"
  loop: "{{ _yum_repository }}"
- name: suse | Zypper removelock
  ansible.builtin.command:
    cmd: zypper removelock {{ item.name | regex_replace('^(.*)-[0-9]*:*[0-9]+\..*$', '\1-*') }}
  changed_when: false
  failed_when: false
  loop: "{{ _zypper }}"
  when: item.state == "present"
- name: suse | Zypper install
  community.general.zypper:
    force_resolution: true
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  loop: "{{ _zypper }}"
  notify:
    - Systemctl restart bitbucket.service
  register: result
  until: result is succeeded
  vars:
    ansible_python_interpreter: python3
- name: suse | Zypper addlock
  ansible.builtin.command:
    cmd: zypper addlock {{ item.name | regex_replace('^(.*)-[0-9]*:*[0-9]+\..*$', '\1-*') }}
  changed_when: false
  failed_when: false
  loop: "{{ _zypper }}"
  when: item.state == "present"
