---
- name: Systemctl daemon-reload
  ansible.builtin.systemd:
    daemon_reload: true
  changed_when: false
  failed_when: false

- name: Systemctl restart bitbucket.service
  ansible.builtin.service:
    name: bitbucket.service
    state: restarted
    enabled: true
  loop: "{{ ansible_play_hosts }}"
  delegate_to: "{{ item }}"
  run_once: true
  changed_when: false
  failed_when: false
